<config>
    <audio>
        <folder>music/</folder>
        <volume>20</volume>
    </audio>
    <display>
        <fullscreen>false</fullscreen>
        <resolution_file>resolution.xml</resolution_file>
        <width>480</width>
        <height>270</height>
    </display>
    <game>
        <display_change>false</display_change>
        <display_change_mode>false</display_change_mode>
        <quit>false</quit>
        <start_file>intro.tmx</start_file>
        <displayResize>true</displayResize>
        <debug>false</debug>
    </game>
    <input>
        <controllerMappingsFile>gamecontrollerdb.txt</controllerMappingsFile>
        <x_axis>0</x_axis>
        <y_axis>1</y_axis>
        <run>0</run>
        <jump>2</jump>
        <attack>3</attack>
        <special>1</special>
        <start>6</start>
        <select>4</select>
        <left>9</left>
        <right>10</right>
    </input>
    <network>
        <server_port>64640</server_port>
    </network>
    <objects>
        <folder>objects/</folder>
    </objects>
</config>
